<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TKGS_CORPEntities" connectionString="metadata=res://*/TKGS_CORP.csdl|res://*/TKGS_CORP.ssdl|res://*/TKGS_CORP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssqld0;initial catalog=TKGS_CORP;persist security info=True;user id=cit.desenv;password=cit.desenv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_BIPRODUCAO_ODSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSQLBID0;initial catalog=DB_BIPRODUCAO_ODS;persist security info=True;user id=cit.desenv;password=cit.desenv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_BIPRODUCAO_ODSEntities1" connectionString="metadata=res://*/MSSQLBID0.csdl|res://*/MSSQLBID0.ssdl|res://*/MSSQLBID0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSQLBID0;initial catalog=DB_BIPRODUCAO_ODS;persist security info=True;user id=cit.desenv;password=cit.desenv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>